/* fonts & colors & variables for page */
* { /* Calculating the size of boxes, resetting margin to 0 */
    box-sizing: border-box;
    margin: 0 auto;
}

/* Font Families */
@font-face {
    font-family: 'lora';
    src: url("../font/lora/Lora-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 700;
    font-style: normal;
}
@font-face {
    font-family: 'lora';
    src: url("../font/Lora-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 700;
    font-style: italic;
}
@font-face {
    font-family: 'quicksand';
    src: url("../font/Quicksand-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 700;
    font-style: normal;
}

html {
    /* Colors */
    --night-background: #15244E; /* Color: Dark Blue */
    --night-header-color: #ECBB29; /* Color: Gold-ish */
    --night-p-color: #FFDC2A; /* Color: Yellow */
    --night-accent-color: #A88B35; /* Color: Dirty Gold */
    --night-select-color: #C7A84C;

    --day-background: #19CCA9; /* Color: Light Blue-ish Green */
    --day-header-color: #02392F; /* Color: Dark Green */
    --day-p-color: #012821; /* Color: Very Dark Green */
    /* Same as Header color */
    --day-accent-color: #02392F; /* Color: Dark Green */
    --day-bar-color: #0CB090; /* Color: Mint Green*/
 
    /* Fonts */
    --font-lora: "lora";
    --font-quicksand:"quicksand";

    /* Miscellaneous */
    --rhythm: 2rem;
    font-size: 100%;
}
/* ^End of section^ */

/* All pages */
body {
    background-color: var(--night-background);
}

h1, h2  {
    color: var(--night-header-color);
}

p {
    color: var(--night-p-color);
}

.top-bar {
    background-color: var(--night-header-color);
    padding: 1rem 1rem 2rem 1rem; /* top right bottom left */
    font: bold 1.25rem var(--font-quicksand);
    text-align: left;
}
.top-bar > h1 {
    color: var(--night-background);
}

header > h1 {
    font: bold 2rem var(--font-quicksand);
    margin: 0 0 .5rem;
    text-align: center;
}

p {
    font: normal 1.25rem var(--font-lora);
}

h2 {
    font: bold 1.5rem var(--font-quicksand);
}
/* ^End of section^ */

/* Index Page styles */
/* ^End of section^ */

/* Portfolio Page styles */
.project, .project video {
    width: 100vw;
}
.project img + h2, video + h2 {
    font: bold 1.5rem var(--font-quicksand);
    color: #C7A84C;
    margin: 0;
    text-align: center;
}
.project p {
    font: normal 1rem var(--font-lora);
    margin: 0 2rem 8rem 2rem;
    color: #FFDC2A;
}
/* ^End of section^ */

/* Contact Page styles */
.contact h2 {
    margin: 0 0 0 2rem;
}

.contact h2 + p {
    margin: 0 0 2rem 3rem;
}

.contactLine {
    display: flex;
}

.contact p:first-child {
    margin: 0 2rem 1rem 2rem;
    text-align: center;
}

/* ^End of section^ */

/* About Page styles */
main img {
    width: 95vw;
    display: block;
    margin: 0 auto .5rem auto;
}

.about img + p {
    margin: 0 2.25rem 3rem 2.25rem;
}

.about h1 {
    font: bold 2.5rem var(--font-quicksand);
    text-align: left;
    margin: 0 0 .5rem 1.5rem ;
}

.about h2 {
    margin: 0 0 .25rem 2rem;
}

.about h2 + p {
    margin: 0 2rem 5rem 2rem;
}

.timeline {
    display: flex;
}
.timeline div {
    flex-grow: 1;
    height: 5px;
    border-radius: 2px;
    background-color: var(--night-accent-color);
    margin: 1.75rem 1rem 0 .6rem;
}

/* ^End of section^ */